name: Main workflow
on:
  push
permissions:
  id-token: write  # Required for OIDC
  contents: write
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 20.x ]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      - name: Install deps
        run: npm i
      - name: Test
        run: npm run test
      - name: Build
        run: npm run build
      - name: Push to NPM
        if: ${{github.ref == 'refs/heads/main'}}
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Coveralls
        if: ${{github.ref == 'refs/heads/main'}}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}


